# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Logs and temporary files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables and credentials
.env
*.secret

# Build and distribution
build/
dist/
*.egg-info/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

uploads/